.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian/
!.obsidian/app.json
!.obsidian/appearance.json
!.obsidian/hotkeys.json
!.obsidian/core-plugins.json
!.obsidian/community-plugins.json
!.obsidian/themes/
!.obsidian/snippets/
!.obsidian/plugins/
.quartz-cache
private/
.replit
replit.nix
